/* LogIn Styles */
.logInFullContainer {
  display:flex;
  align-items:center;
  justify-content:center;
  position:fixed;
  left:0;
  top:0;
  min-height:100vh;
  width:100%;
}

.logInContainer {
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  background-color:  rgba(20, 90, 125, 1);
  font-family: 'Play', sans-serif;
  height: 280px;
  width: 250px;
  z-index: 11;
  font-size: 1.2em;
  color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,.7);
}

.logInUnderlay{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 500vh;
  bottom: 0;
  z-index: 10;
  left:0;
  background:rgba(0, 0, 0, 0.6);
}

.logInInput {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 11;
}

.logInTitle {
  text-align: center;
  font-size: 1.2em;
}

.renuiDialogOverlayHidden {
  display:none;
}

.logInButton{
  width: 80px;
  padding: 10px;
  text-decoration: none;
  font-weight:bold;
  font-variant: small-caps;
  background-color:  rgba(20, 90, 125, 1);
  cursor:pointer;
  color: white;
}

.emailLogIn {
  padding: 5px;
  width: 150px;
  margin-top: 20px;
}

.passwordLogIn {
  padding: 5px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.submitNoteTwo {
padding-top: 15px;
}
